<div class="footer">
    <div class="footer-content">
        <div class="footer-box">
            <h3> About </h3>
            <p>
                This application is a demonstration of redux patterns applied to angular ( ngrx ). All the component comunication are performed with ngrx
                and the components are only used to render html and the selected states ( I tried to minimize the code at maxium but still there are some huge logic 
                components like product-filters )
            </p>
        </div>
        <div class="footer-box">
            <h3> Useful Links</h3>

            <mat-nav-list >
                <a mat-list-item href="https://angular.io/"> 
                    <mat-icon matListIcon class="margin-right-sm">link</mat-icon>
                    Angular Documentation 
                </a>
                <a mat-list-item href="https://ngrx.io/"> 
                    <mat-icon matListIcon class="margin-right-sm">link</mat-icon>
                    NgRx Documentation 
                </a>
                <a mat-list-item href="https://material.angular.io/"> 
                    <mat-icon matListIcon class="margin-right-sm">link</mat-icon>
                    Angular Material 
                </a>
                <a mat-list-item href="https://redux.js.org/"> 
                    <mat-icon  matListIcon class="margin-right-sm">link</mat-icon>
                    Redux Information 
                </a>
             </mat-nav-list>
        </div>
        <div class="footer-box">Footer box 3</div>
    </div>
    <div class="copyright text-center">
        Copyright &copy; Capgemini 2021 - Oscar Morió 
    </div>
</div>