<div class="wrapper full-width full-height">
    <div class="component-content">
        <div class="register-panel">
            <div class="panel-header text-center">
                <h2>Create a new user.</h2>
            </div>
            <div class="panel-content">
                <app-register-form></app-register-form>
            </div>
            <div class="text-center">
                <a [routerLink]="['/auth/login']">I already have an account!</a>
            </div>
        </div>
    </div>
</div>