<mat-card>
    <ng-container  *ngIf="catalog$ | async as catalog">
        <mat-card-title> 
            <a [routerLink]="['c', catalog.id]">
                 Catalog: {{ catalog.name }} 
            </a>
         </mat-card-title>
         <mat-card-subtitle
             *ngIf="showRating$ | async"
         >
             Rating: {{catalog.rating}}/5
         </mat-card-subtitle>
         <img mat-card-image [src]="catalog.image" alt="Catalog image">
             
         <mat-card-content> 
             <p class="text">
                 {{ catalog.description }} 
             </p>
         </mat-card-content>
     
         <mat-card-actions>
             <button mat-raised-button>VISIT</button>
             
             <button mat-button>
                 <mat-icon>edit</mat-icon>
             </button>
             <button mat-button>
                 <mat-icon>delete</mat-icon>
             </button>
         </mat-card-actions>
    </ng-container>

    <ng-container  *ngIf="!(catalog$ | async)">
        <h2>Select a catalog</h2>
    </ng-container>
    
</mat-card>

